<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  
  </h1>
  <h2>
    Discover your new favorite beer from our selection from around the world!!!
  </h2>
  <div   class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

    
      <button  (click)="MapBeerArray()">
          <h3>Show Beer Menu </h3>
      </button>
  </div>

</div>

<!-- Category and search Navigation -->
<div>
  
    <nav>
        <a routerLink="/beerCategories" routerLinkActive="active">Beer Categories</a>
        <a routerLink="/beerDetails" routerLinkActive="active">Search Detail</a>
      </nav>

</div>
<div>


    <div>
      <table>
        <tr>
          <th> Name </th>
          <th> ABV </th>
          <th> IBU </th>
          <th> Calories</th>
          <th> Style</th>
          <th> Location</th>
          <th> Category</th>
        </tr>
        <tr *ngFor="let mappedBeerInfo of mappedBeerInfomation">
          <td>{{mappedBeerInfo.name}}</td>
          <td>{{mappedBeerInfo.abv}}</td>
          <td>{{mappedBeerInfo.ibu}}</td>
          <td>{{mappedBeerInfo.calories }} </td>
          <td>{{mappedBeerInfo.style }} </td>
          <td>{{mappedBeerInfo.brewery_location }} </td>
          <td>{{mappedBeerInfo.category }} </td>
        </tr>
      </table>
    </div>

    <router-outlet></router-outlet>

  </div>

  <router-outlet></router-outlet>