<!-- Get beer Cat -->
<div>
    <div class = "container">

      <form>
        <h2>Showing beer Category</h2>
        <div>
          <select #beerSelection (click)="onSelectBeerByCategory(beerSelection.value)">
            <option *ngFor="let mappedBeerinfo of mappedBeerInfomation"> {{ mappedBeerinfo.category }}</option>
          </select>
        </div>
      </form>
      <h3>Display Beer</h3>
      <div>
          <select #beerDetails (click)="SearchProduct(beerDetails.value)" ng-model="beerSelection">
              <option selected disabled>Choose here</option>
              <option  *ngFor="let filteredBeerByCat of filteredBeerByCategory"> {{ filteredBeerByCat.name }}</option>
            </select>
      </div>
      <div>
          <table>
            <tr>
              <th> Name </th>
              <th> ABV </th>
              <th> IBU </th>
              <th> Calories</th>
              <th> Style</th>
              <th> Location</th>
              <th> Category</th>
            </tr>
            <tr *ngFor="let showBeerDetail of showBeerDetails">
              <td>{{showBeerDetail.name}}</td>
              <td>{{showBeerDetail.abv}}</td>
              <td>{{showBeerDetail.ibu}}</td>
              <td>{{showBeerDetail.calories }} </td>
              <td>{{showBeerDetail.style }} </td>
              <td>{{showBeerDetail.brewery_location }} </td>
              <td>{{showBeerDetail.category }} </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
  